@font-face {
    font-family: 'Dark Wedding';
    src: url('a_dark_wedding__2007.ttf');
}

html{
  height: 100%;
}
body{
  height: 100%;
}
#screen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 700px;
}

#gui{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 700px;
}

#music{
  display: none;
}
